<section class="comments">
  <li id="comment-<%= comment.id %>">
    <span class="content">
      <%= link_to set_profile_image(comment.user), comment.user %>
      <%= comment.content %>
    </span>
    <span class="timestamp">
      <p><%= time_ago_in_words(comment.created_at) %>前</p>
      <% if current_user?(comment.user) %>
        <%= link_to '削除', micropost_comment_path(comment, comment_id: comment.id), method: :delete %>
      <% end %>
    </span>
  </li>
</section>
