<% provide(:title, "パスワード変更") %>
<h1>パスワード変更</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag update_password_user_path(@user), method: "patch" do %>
      <%= render 'shared/error_messages', object: @user %>

      <%= label_tag :present_password, "現在のパスワード" %>
      <%= password_field_tag :present_password %>

      <%= label_tag "user[password]", "新しいパスワード" %>
      <%= password_field_tag "user[password]" %>

      <%= label_tag "user[password_confirmation]", "新しいパスワードの確認" %>
      <%= password_field_tag "user[password_confirmation]" %>

      <%= submit_tag "変更を保存", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
