<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= set_profile_image(@user) %>
        <%= @user.name %>
      </h1>
      <p>ユーザーネーム：<%= @user.user_name %></p>
        <% if current_user?(@user) %>
        <%= link_to "編集", edit_user_path(@user) %> ・
        <%= link_to "削除", @user, method: :delete,
                                    data: { confirm: "アカウントを削除しますか？" } %>
        <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <p><%= @user.introduction %></p>
    <p><%= link_to @user.web_url, @user.web_url, target: :_blank %></p>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <%= render @microposts %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
