<% provide(:title, "写真投稿") %>

<div class="row">
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= form_for @micropost do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :picture, "写真をしてください" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>

      <%= f.submit "投稿", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
</div>
