<% provide(:title, "#{@micropost.user.name}の投稿") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <span id="micropost-<%= @micropost.id %>">
        <%= image_tag @micropost.picture.url, size: 300 %>
      </span>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @comments.any? %>
      <h3>コメント</h3>
      <%= render @comments %>
      <%= will_paginate @comments %>
    <% end %>
  </div>
  <div class="comment-form">
    <%= form_for [@micropost, @comment] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_field :content, placeholder: "コメントを書く" %>

    <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
