<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "insta_app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
