<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% if logged_in? %>
      <%= render 'layouts/header_for_logged_in' %>
    <% else %>
      <%= render 'layouts/header_for_non_logged_in' %>
    <% end %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' if logged_in? %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
